.statistics {
  width: 450px;
  margin-top: 20px;
  background-color: #fff;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.title {
  margin-top: 0;
}

.statlist {
  display: flex;
  justify-content: space-around;
  padding-left: 0;
  margin: 0;
  list-style-type: none;
}

.item {
  display: flex;
  flex-direction: column;
  width: 20%;
  padding: 20px 0;
}
