.friendList {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  align-items: center;
  margin: 20px 0;
}

.item {
  display: flex;
  align-items: center;
  width: 150px;
  margin-bottom: 10px;
  justify-content: center;
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  background-color: #fff;
}

.online {
  width: 10px;
  height: 10px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: green;
}

.offline {
  width: 10px;
  height: 10px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: red;
}
